<launch>
    <!-- Start the inverse_kinematics node -->


    <node name="inverse_kinematics" pkg="robotic_arm_control" type="inverse_kinematics" />

    <!-- Start the move_group node -->
    <node name="move_group" pkg="moveit_commander" type="move_group" />



    <param name="scale_linear" value="0.1" />
    <param name="scale_angular" value="0.1" />


    <!-- Start the teleop_twist_keyboard node -->
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard" />

    <!-- Launch Moveit Move Group Node -->
    <!-- <include file = "$(find arm_moveit)/launch/move_group.launch" /> -->

    <!-- Start the Gazebo simulation -->
    <!-- <include file = "$(find arm_urdf)/launch/arm_urdf.launch" />  -->



    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robotic_arm_control)/worlds/robotic_arm.world" />
    </include> -->


    <include file = "$(find arm_urdf)/launch/arm_urdf.launch" />


</launch>






<!-- <launch>  -->

<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the 
controllers -->


<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
<!-- <arg name="use_rviz" default="true" />  -->
<!--  
  <include file="$(find arm_moveit)/launch/moveit_rviz.launch" if="$(arg 
use_rviz)"> 
    <arg name="rviz_config" value="$(find arm_moveit)/launch/moveit.rviz"/> 
  </include>  -->


<!-- </launch> -->